.list-item {
  border: 2px solid #343a40;
  border-radius: 20px;
  margin: 10px;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  background: transparent;
  transition: 0.3s;
}
.list-item:hover {
  background: rgb(214, 255, 243);
  transition: 0.3s;
  cursor: pointer;
}

.list {
  height: 350px;
}
