<!--<div class="list">-->
<!--  <ng-container *ngFor="let category of childs; let i = index">-->
<!--    <div class="row list-item" (click)="changeCategory(category.id)">-->
<!--      <h5>{{category.name}}</h5>-->
<!--    </div>-->
<!--  </ng-container>-->
<!--</div>-->
<mat-action-list>
  <mat-list-item *ngFor="let child of childs" (click)="changeCategory(child)">
    <mat-icon *ngIf="child.className === 'Folder'" mat-list-icon>folder</mat-icon>
    <mat-icon *ngIf="child.className === 'ImagePack'" mat-list-icon>image</mat-icon>
    <h5 mat-line>{{child.name}}</h5>
  </mat-list-item>
</mat-action-list>

