<div class="app" style="padding-top: 0; padding-bottom: 0; background: transparent">
  <div class="row fit">
    <div class="col-md-2 no-padding">
      <div class="row fit">
        <div class="col-md-9" style="background: white;">
          <app-image-list></app-image-list>
        </div>
        <div class="col-md-3 no-padding"  style="background: rgb(52,58,64);">
          <app-toolbox></app-toolbox>
        </div>
      </div>
    </div>

    <div class="col-md-8 no-padding" style="max-width: 100%; max-height: 100%; overflow: auto;">
      <app-canvas [labels]="labels"></app-canvas>
    </div>

    <div class="col-md-2" style="background: white;">
      <app-polygon-list [labels]="labels"></app-polygon-list>
    </div>
  </div>
</div>
