<div class="app" style="padding-top: 0px; padding-bottom: 0px; background: transparent">
  <div class="row fit">
    <div class="col-md-3">
      <div class="row fit">
        <div class="col-md-10" style="background: white;">
          <app-image-list></app-image-list>
        </div>
        <div class="col-md-2 no-padding"  style="background: rgb(52,58,64);">
          <app-toolbox></app-toolbox>
        </div>
      </div>
    </div>

    <div class="col-md-9 no-padding" style="max-width: 100%; max-height: 100%; overflow: auto; text-align: center;">
      <app-canvas></app-canvas>
    </div>
  </div>
</div>
