<!--<div class="container-fluid text-center">-->
<!--  <div class="row content">-->
<!--    <div class="col-md text-left">-->
<div class="app" style="background: #343a40;">
<!--  <div class="row">-->
<!--    <h3 class="col-md-2">Select category</h3>-->
<!--    <div class="col-md-10">-->
<!--      <div class="row">-->
<!--        <mat-icon mat-list-icon>search</mat-icon>-->
<!--        <h4>Search</h4>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <hr>-->
<!--  <div class="row">-->
<!--    <div class="col-md-2">-->
<!--      <mat-action-list>-->
<!--        <mat-list-item>-->
<!--          <mat-icon mat-list-icon>access_time</mat-icon>-->
<!--          <h5 mat-line>Recent</h5>-->
<!--        </mat-list-item>-->
<!--        <mat-list-item>-->
<!--          <mat-icon mat-list-icon>favorite</mat-icon>-->
<!--          <h5 mat-line>Favorite</h5>-->
<!--        </mat-list-item>-->
<!--      </mat-action-list>-->
<!--    </div>-->
<!--    <div class="cold-md-10">-->
<!--      <app-route></app-route>-->
<!--      <hr style="width: 100%">-->
<!--      <app-list></app-list>-->
<!--    </div>-->
<!--  </div>-->
<!--  <hr>-->


  <mat-grid-list cols = "6" rowHeight = "9.08vh">
    <mat-grid-tile
      [colspan] = "1"
      [rowspan] = "1">
      <h3>Select category</h3>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan] = "5"
      [rowspan] = "1"
      class="no-grid-align">
      <app-route></app-route>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan] = "1"
      [rowspan] = "9"
      class="no-grid-align">
      <div style="width: 100%; padding: 0 16px; align-items: center">
        <mat-form-field>
          <mat-icon mat-list-icon matSuffix>search</mat-icon>
          <input matInput type="search" placeholder="Search" [(ngModel)]="searchValue">
        </mat-form-field>
      </div>
      <mat-action-list style="width: 100%">
        <mat-list-item>
          <mat-icon mat-list-icon>access_time</mat-icon>
          <h5 mat-line>Recent</h5>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>favorite</mat-icon>
          <h5 mat-line>Favorite</h5>
        </mat-list-item>
      </mat-action-list>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan] = "5"
      [rowspan] = "9"
      class="no-grid-align">
      <app-list style="width:100%"></app-list>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<!--    </div>-->
<!--  </div>-->
<!--</div>-->
