/* You can add global styles to this file, and also import other style files */
html { height:100%; }


body {
  background-image: url('assets/back.jpg');
  height:100%;
  background-size:cover
;
}

.content {
  min-height: 90vh;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 1);
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  background: white;
  border-radius: 10px;
  padding: 100px;
}

.app {
  background: white;
  padding: 0;
  height: 92vh;
}

.fit {
  height: 92vh;
  margin: 0;
}

.no-padding {
  padding: 0px;
}

.white-icon {
  color: white;
}
.white-icon svg {
  fill: white;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
